.menu-item-img {
  width: 128px;
  height: 85px;
  border-radius: 5px;
}

.menu-item {
  gap: 60px;
  display: flex;
  margin: 32px 0;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.menu-item-info-text {
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
}

.menu-item-info-text.name {
  font-size: 16px;
  font-weight: 600;
}

.menu-item-info-text.description {
  color: #464646;
}

.menu-item-info-text.price {
  font-size: 16px;
  font-weight: 600;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: initial;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
}
